BookManagementSystem/bin/Debug/net8.0/BookManagementSystem.dll
BookManagementSystem/bin/Debug/net8.0/BookManagementSystem.exe
BookManagementSystem/bin/Debug/net8.0/BookManagementSystem.pdb
BookManagementSystem/obj/Debug/net8.0/apphost.exe
BookManagementSystem/obj/Debug/net8.0/BookManagementSystem.AssemblyInfo.cs
BookManagementSystem/obj/Debug/net8.0/BookManagementSystem.AssemblyInfoInputs.cache
BookManagementSystem/obj/Debug/net8.0/BookManagementSystem.csproj.FileListAbsolute.txt
BookManagementSystem/obj/Debug/net8.0/BookManagementSystem.dll
BookManagementSystem/obj/Debug/net8.0/BookManagementSystem.pdb
BookManagementSystem/obj/Debug/net8.0/ref/BookManagementSystem.dll
BookManagementSystem/obj/Debug/net8.0/refint/BookManagementSystem.dll
BookManagementSystem/bin/Debug/net8.0/BookManagementSystem.dll
BookManagementSystem/bin/Debug/net8.0/BookManagementSystem.exe
BookManagementSystem/bin/Debug/net8.0/BookManagementSystem.pdb
BookManagementSystem/obj/Debug/net8.0/apphost.exe
BookManagementSystem/obj/Debug/net8.0/BookManagementSystem.AssemblyInfo.cs
BookManagementSystem/obj/Debug/net8.0/BookManagementSystem.AssemblyInfoInputs.cache
BookManagementSystem/obj/Debug/net8.0/BookManagementSystem.csproj.FileListAbsolute.txt
BookManagementSystem/obj/Debug/net8.0/BookManagementSystem.dll
BookManagementSystem/obj/Debug/net8.0/BookManagementSystem.pdb
BookManagementSystem/obj/Debug/net8.0/ref/BookManagementSystem.dll
BookManagementSystem/obj/Debug/net8.0/refint/BookManagementSystem.dll
